
@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: 100;
  font-stretch: extra-condensed;
  src:url('woff2/YekanBakhFaNum-Light.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: 300;
  font-stretch: extra-condensed;
  src: url('woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: Yekan;
  font-style: normal;
  font-weight: normal;
  font-stretch: extra-condensed;
  src: url('woff2/YekanBakhFaNum-Regular.woff2') format('woff2');
  font-display: swap;
}
