@import "./yekanBakh/fontiran.css";

:root {
    --spinner-border-color: #f3f3f3;
    --spinner-border-top-color: #37474e;
    --loading-bg-color: #ffffffd4;
    --loading-blur: 18px;
    --loading-z-index: 999999;

    /*********************************************
    Desktop header styles
    **********************************************/
    /*header styles*/
    --header-bg-color-first: #ffffffb0;
    --header-border-color-first: rgb(255 255 255 / 67%);
    --header-blur-first: 16px;

    /*header styles on stuck*/
    --header-bg-color: #ffffffd4;;
    --header-border-color: rgba(211, 211, 211, 0.28);
    --header-padding: 8px 16px;
    --header-blur: 14px;
    --header-max-width: 98%;
    --header-border-radius-bottom: 25px;

    --header-link-color: #000000;
    --header-btn-color: #000000;

    /*header logo on stuck*/
    --header-img-filter-logo: unset !important;

    /*********************************************
    mobile header styles
    **********************************************/
    --header-bg-color-first-mobile: #ffffffb0;
    --header-border-color-first-mobile: rgb(255 255 255 / 67%);
    --header-blur-first-mobile: 16px;
    /*header styles on stuck*/
    --header-bg-color-mobile: #ffffffd4;;
    --header-border-color-mobile: rgba(211, 211, 211, 0.28);
    --header-padding-mobile: 8px 16px;
    --header-blur-mobile: 14px;
    --header-max-width-mobile: 98%;
    --header-border-radius-bottom-mobile: 25px;
    --header-link-color-mobile: #000000;
    --header-btn-color-mobile: #000000;
    /*header logo on stuck*/
    --header-img-filter-logo-mobile: unset !important;

}

*:not(.pi) {
    font-family: Yekan, serif !important;
}

.char {
    font-family: Yekan, serif !important;
}

body {
    margin: 0;
}

@media only screen and (max-width: 1024px) {
    .left-border {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    html[lang="fa"] .my-svg,
    html[lang="ar"] .my-svg {
        transform: scaleX(-1);
        transform-origin: center;
    }

    html[lang="fa"] .reverse-fa,
    html[lang="ar"] .reverse-fa {
        transform: scaleX(-1) rotate(360deg) !important;
        transform-origin: center;
    }

    html[lang="fa"] .reverse-fa2,
    html[lang="ar"] .reverse-fa2 {
        transform: scaleX(1) rotate(360deg) !important;
        transform-origin: center;
    }

    html[lang="fa"] .reverse-radius-lng,
    html[lang="ar"] .reverse-radius-lng {
        border-radius: 0 50px 50px 0 !important;
        /*margin-right: -3px;*/
    }

    html[lang="en"] .reverse-radius-lng {
        border-radius: 50px 0 0 50px !important;
        /*margin-left: -3px;*/
    }

    html[lang="fa"] .radius-lng,
    html[lang="ar"] .radius-lng {

        border-radius: 50px 0 0 50px !important;
        /*margin-left: -3px;*/
    }

    html[lang="en"] .radius-lng {
        border-radius: 0 50px 50px 0 !important;
        /*margin-right: -3px;*/
    }

    /* یا با dir="rtl" */
    html[dir="rtl"] .my-svg {
        transform: scaleX(-1);
        transform-origin: center;
    }
}


.full-width-img {
    width: 100%;
}


.darkInput {
    color: white !important;
}

.darkInput .p-inputtext, .p-select, .darkInput .p-textarea {
    transition: all ease-in-out 0ms !important;
    background-image: unset !important;
    border: unset !important;
    border-radius: 8px !important;
}

.darkInput .p-inputtext, .p-select, .darkInput .p-textarea {
    background-color: rgba(0, 0, 0, 0.2) !important;
    color: white !important;
}

.darkInput label {
    color: white !important;
}

.darkInput div div svg {
    color: white !important;
}

.darkInput div .p-select-label {
    color: white !important;
}

.p-iftalabel:has(input:focus) label, .p-iftalabel:has(input:-webkit-autofill) label, .p-iftalabel:has(textarea:focus) label, .p-iftalabel:has(.p-inputwrapper-focus) label {
    color: #64d2ff !important;
}

.responsive_padding80_text {
    padding: 0 80px
}

.padding20_text {
    padding: 0 20px
}


@media only screen and (max-width: 1024px) {
    .responsive_padding80_text {
        padding: 0 10px
    }

    .responsive_flex_row {
        flex-direction: column !important;
        gap: 0 !important;
    }

    .responsive_flex_wrap_reverse {
        flex-wrap: wrap-reverse !important;
    }

    .gapOnMobile {
        gap: 10px !important;
    }
}

.white-text {
    color: white !important;
}


ul.custom-list {
    list-style: none;
    padding: 0;
    margin-right: unset;
    margin-left: 60px;
}

ul.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
    line-height: 1.6;
    transition: all 0.3s ease;
}

/* آیکون قبل از هر li */
ul.custom-list li::before {
    content: "✔"; /* میتونی تغییرش بدی به ➤ یا ● */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #0077b6; /* رنگ آبی نفتی */
    transition: transform 0.3s ease, color 0.3s ease;
}

/* آیکون قبل از هر li */
ul.custom-list li::after {
    content: ""; /* میتونی تغییرش بدی به ➤ یا ● */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    color: #0077b6; /* رنگ آبی نفتی */
    transition: transform 0.3s ease, color 0.3s ease;
}

/* افکت هاور */
ul.custom-list li:hover {
    color: #0077b6;
    cursor: pointer;
}

ul.custom-list li:hover::before {
    transform: scale(1.2);
    color: #0096c7;
}

h1 {
    margin: 5px 0 5px 0;
    font-size: 32px;
    line-height: 1.2;
}

@media (max-width: 768px) {
    h1 {
        margin: 5px 0 5px 0;
        font-size: 26px;
        line-height: 1.2;
    }
}

@media (max-width: 768px) {
    p {
        margin: 5px 0 5px 0;
        font-size: 16px;
        line-height: 1.2;
    }
}

h2 {
    margin: 10px 0 10px 0;
    font-size: 1.7rem;
    line-height: 1.6;
}

h3 {
    margin: 10px 0 10px 0;
    font-size: 1.2rem;
    line-height: 1.6;
}

p {
    line-height: 1.6;
}


.top-border-active:hover > .v-btn__overlay {

    height: 3px;
    margin-top: 35px;
    animation: AnimateBottom-border-hover 500ms ease-in-out infinite;
    -webkit-animation: AnimateBottom-border-hover 500ms ease-in-out infinite;
    -moz-animation: AnimateBottom-border-hover 500ms ease-in-out infinite;

}

@keyframes AnimateBottom-border-hover {
    0% {
        opacity: 0.6
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 0.6
    }

}

@keyframes AnimateBottom-border-active {
    0% {

        box-shadow: 0 2px 15px rgb(44, 163, 167);
    }
    50% {

        box-shadow: unset;
    }
    100% {

        box-shadow: 0 2px 15px rgb(44, 163, 167);
    }

}

@-webkit-keyframes AnimateBottom-border-hover {
    0% {
        opacity: 0.6
    }
    50% {
        opacity: 0.3
    }
    100% {
        opacity: 0.6
    }
}

.bg-black-fade {
    background-color: rgba(0, 0, 0, 0.57);
}

.reverse-hover .v-responsive__content {
    display: flex;
    flex-direction: column-reverse;
}

.custom-carousel {

}

.custom-carousel .v-window__controls {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 70px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    pointer-events: none;
}

.custom-carousel .v-window__controls .v-btn--icon {
    background: rgba(255, 255, 255, 0.64);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

.custom-carousel .v-window__controls .v-btn--icon:hover {
    background: rgba(255, 255, 255, 0.92);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}


.show_product:hover .custom-image-zoom > div.v-img__gradient {
    opacity: 0.5 !important;
}


@-webkit-keyframes AnimateBorder {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@-moz-keyframes AnimateBorder {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}

@keyframes AnimateBorder {
    0% {
        background-position: 0 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 50%
    }
}


/* logo */
.container {
    font-size: 48px;
    font-weight: bold;
    color: white;
    display: flex;
}

.char {
    display: inline-block;
    height: max-content;
    line-height: 32px;
    font-size: 32px !important;
    padding: 0 0;
}

.orange {
    color: orange;
}


@keyframes reveal2 {
    from {
        opacity: 0;
        margin-left: -6ch;
    }
    to {
        opacity: 1;
        margin-left: 0;
    }
    /* تعداد حروف emand */
}


:root {
    --white: #ffffff;
    --duration: 1.2s; /* مدت زمان هر جهش (قابل تغییر) */
}

.flash {
    display: inline-block;
    height: max-content;
    line-height: 32px;
    font-size: 36px !important;
    padding: 6px 4px 0 4px;
    font-weight: 600;
    border-radius: 4px;
    background: orange;
    color: var(--white);
    /* انیمیشن: از حالت نارنجی/سفید به برعکس و باز */
    animation: colorSwap 5.2s linear infinite;
    margin-top: -6px;
}

@keyframes colorSwap {
    0% {
        background-color: orange;
        color: white;
    }
    11.5% { /* ~0.6s از 5.2s */
        background-color: white;
        color: orange;
    }
    50% { /* بعد از 2s مکث */
        background-color: white;
        color: orange;
    }
    61.5% { /* +0.6s تغییر برگشت */
        background-color: orange;
        color: white;
    }
    100% { /* دوباره مکث روی حالت اول */
        background-color: orange;
        color: white;
    }
}

/* رعایت ترجیح کاربر برای کم‌حرکتی */
@media (prefers-reduced-motion: reduce) {
    .flash {
        animation: none;
    }
}


.d_none_mobile {
    display: none
}

.d_none_desk {
    display: none
}

@media (max-width: 768px) {
    .d_none_desk {
        display: block
    }

    .btn_lang {
        padding: 4px
    }
}

@media (min-width: 768px) {
    .d_none_mobile {
        display: block
    }

    .btn_lang {
        padding: 4px
    }
}


.ql-container {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 100%;
    margin: 0;
    position: relative
}

.ql-container.ql-disabled .ql-tooltip {
    visibility: hidden
}

.ql-container:not(.ql-disabled) li[data-list=checked] > .ql-ui, .ql-container:not(.ql-disabled) li[data-list=unchecked] > .ql-ui {
    cursor: pointer
}

.ql-clipboard {
    left: -100000px;
    height: 1px;
    overflow-y: hidden;
    position: absolute;
    top: 50%
}

.ql-clipboard p {
    margin: 0;
    padding: 0
}

.ql-editor {
    box-sizing: border-box;
    counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9;
    line-height: 1.42;
    height: 100%;
    outline: none;
    overflow-y: auto;
    padding: 12px 15px;
    tab-size: 4;
    -moz-tab-size: 4;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word
}

> * {
    cursor: text
}

p, ol, pre, blockquote, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0
}

@supports (counter-set:none) {
    p, h1, h2, h3, h4, h5, h6 {
        counter-set: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    p, h1, h2, h3, h4, h5, h6 {
        counter-reset: list-0 list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

ol {
    padding-left: 1.5em
}

li {
    padding-left: 10px;
    margin-left: 34px;
    position: relative
}

li > .ql-ui:before {
    display: inline-block;
    margin-left: -1.5em;
    margin-right: .3em;
    text-align: right;
    white-space: nowrap;
    width: 1.2em
}

li[data-list=checked] > .ql-ui, li[data-list=unchecked] > .ql-ui {
    color: #777
}

li[data-list=bullet] > .ql-ui:before {
    content: '\2022'
}

li[data-list=checked] > .ql-ui:before {
    content: '\2611'
}

li[data-list=unchecked] > .ql-ui:before {
    content: '\2610'
}

@supports (counter-set:none) {
    li[data-list] {
        counter-set: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list] {
        counter-reset: list-1 list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered] {
    counter-increment: list-0
}

li[data-list=ordered] > .ql-ui:before {
    content: counter(list-0, decimal) '. '
}

li[data-list=ordered].ql-indent-1 {
    counter-increment: list-1
}

li[data-list=ordered].ql-indent-1 > .ql-ui:before {
    content: counter(list-1, lower-alpha) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-1 {
        counter-set: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-1 {
        counter-reset: list-2 list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-2 {
    counter-increment: list-2
}

li[data-list=ordered].ql-indent-2 > .ql-ui:before {
    content: counter(list-2, lower-roman) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-2 {
        counter-set: list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-2 {
        counter-reset: list-3 list-4 list-5 list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-3 {
    counter-increment: list-3
}

li[data-list=ordered].ql-indent-3 > .ql-ui:before {
    content: counter(list-3, decimal) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-3 {
        counter-set: list-4 list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-3 {
        counter-reset: list-4 list-5 list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-4 {
    counter-increment: list-4
}

li[data-list=ordered].ql-indent-4 > .ql-ui:before {
    content: counter(list-4, lower-alpha) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-4 {
        counter-set: list-5 list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-4 {
        counter-reset: list-5 list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-5 {
    counter-increment: list-5
}

li[data-list=ordered].ql-indent-5 > .ql-ui:before {
    content: counter(list-5, lower-roman) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-5 {
        counter-set: list-6 list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-5 {
        counter-reset: list-6 list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-6 {
    counter-increment: list-6
}

li[data-list=ordered].ql-indent-6 > .ql-ui:before {
    content: counter(list-6, decimal) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-6 {
        counter-set: list-7 list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-6 {
        counter-reset: list-7 list-8 list-9
    }
}

li[data-list=ordered].ql-indent-7 {
    counter-increment: list-7
}

li[data-list=ordered].ql-indent-7 > .ql-ui:before {
    content: counter(list-7, lower-alpha) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-7 {
        counter-set: list-8 list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-7 {
        counter-reset: list-8 list-9
    }
}

li[data-list=ordered].ql-indent-8 {
    counter-increment: list-8
}

li[data-list=ordered].ql-indent-8 > .ql-ui:before {
    content: counter(list-8, lower-roman) '. '
}

@supports (counter-set:none) {
    li[data-list].ql-indent-8 {
        counter-set: list-9
    }
}

@supports not (counter-set:none) {
    li[data-list].ql-indent-8 {
        counter-reset: list-9
    }
}

li[data-list=ordered].ql-indent-9 {
    counter-increment: list-9
}

li[data-list=ordered].ql-indent-9 > .ql-ui:before {
    content: counter(list-9, decimal) '. '
}

.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 3em
}

li.ql-indent-1:not(.ql-direction-rtl) {
    padding-left: 4.5em
}

.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 3em
}

li.ql-indent-1.ql-direction-rtl.ql-align-right {
    padding-right: 4.5em
}

.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 6em
}

li.ql-indent-2:not(.ql-direction-rtl) {
    padding-left: 7.5em
}

.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 6em
}

li.ql-indent-2.ql-direction-rtl.ql-align-right {
    padding-right: 7.5em
}

.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 9em
}

li.ql-indent-3:not(.ql-direction-rtl) {
    padding-left: 10.5em
}

.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 9em
}

li.ql-indent-3.ql-direction-rtl.ql-align-right {
    padding-right: 10.5em
}

.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 12em
}

li.ql-indent-4:not(.ql-direction-rtl) {
    padding-left: 13.5em
}

.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 12em
}

li.ql-indent-4.ql-direction-rtl.ql-align-right {
    padding-right: 13.5em
}

.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 15em
}

li.ql-indent-5:not(.ql-direction-rtl) {
    padding-left: 16.5em
}

.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 15em
}

li.ql-indent-5.ql-direction-rtl.ql-align-right {
    padding-right: 16.5em
}

.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 18em
}

li.ql-indent-6:not(.ql-direction-rtl) {
    padding-left: 19.5em
}

.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 18em
}

li.ql-indent-6.ql-direction-rtl.ql-align-right {
    padding-right: 19.5em
}

.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 21em
}

li.ql-indent-7:not(.ql-direction-rtl) {
    padding-left: 22.5em
}

.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 21em
}

li.ql-indent-7.ql-direction-rtl.ql-align-right {
    padding-right: 22.5em
}

.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 24em
}

li.ql-indent-8:not(.ql-direction-rtl) {
    padding-left: 25.5em
}

.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 24em
}

li.ql-indent-8.ql-direction-rtl.ql-align-right {
    padding-right: 25.5em
}

.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 27em
}

li.ql-indent-9:not(.ql-direction-rtl) {
    padding-left: 28.5em
}

.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 27em
}

li.ql-indent-9.ql-direction-rtl.ql-align-right {
    padding-right: 28.5em
}

li.ql-direction-rtl {
    padding-right: 1.5em
}

li.ql-direction-rtl > .ql-ui:before {
    margin-left: .3em;
    margin-right: -1.5em;
    text-align: left
}

.ql-code-block-container {
    font-family: monospace
}

.ql-video {
    display: block;
    max-width: 100%
}

.ql-video.ql-align-center {
    margin: 0 auto
}

.ql-video.ql-align-right {
    margin: 0 0 0 auto
}

.ql-bg-black {
    background-color: #000
}

.ql-bg-red {
    background-color: #e60000
}

.ql-bg-orange {
    background-color: #f90
}

.ql-bg-yellow {
    background-color: #ff0
}

.ql-bg-green {
    background-color: #008a00
}

.ql-bg-blue {
    background-color: #06c
}

.ql-bg-purple {
    background-color: #93f
}

.ql-color-white {
    color: #fff
}

.ql-color-red {
    color: #e60000
}

.ql-color-orange {
    color: #f90
}

.ql-color-yellow {
    color: #ff0
}

.ql-color-green {
    color: #008a00
}

.ql-color-blue {
    color: #06c
}

.ql-color-purple {
    color: #93f
}

.ql-font-serif {
    font-family: Georgia, Times New Roman, serif
}

.ql-font-monospace {
    font-family: Monaco, Courier New, monospace
}

.ql-size-small {
    font-size: .75em
}

.ql-size-large {
    font-size: 1.5em
}

.ql-size-huge {
    font-size: 2.5em
}

.ql-direction-rtl {
    direction: rtl;
    text-align: inherit
}

.ql-align-center {
    text-align: center
}

.ql-align-justify {
    text-align: justify
}

.ql-align-right {
    text-align: right
}

.ql-ui {
    position: absolute
}

.ql-editor.ql-blank::before {
    color: rgba(0, 0, 0, 0.6);
    content: attr(data-placeholder);
    font-style: italic;
    left: 15px;
    pointer-events: none;
    position: absolute;
    right: 15px
}

li::marker {
    color: #959595;
}

@media (min-width: 1920px) {
    .v-container:not(.v-container--fluid) {
        max-width: 1500px;
    }
}

.v-btn {
    text-transform: unset !important;
}

.page-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--loading-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: var(--loading-z-index);
    backdrop-filter: blur(var(--loading-blur));
}

.spinner {
    border: 6px solid var(--spinner-border-color);
    border-top: 6px solid var(--spinner-border-top-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.hideLoadingEffect {
    transition: all 400ms ease-out;
    opacity: 0;
}