
ul,p:not(.ql-align-justify),h1,h2,h3,h4,h5,h6,.v-card-title,.v-card-text,.v-card-subtitle,.v-field,.p-inputtext{direction: rtl ;}


.lng_fa_force_rtl,.v-list,.v-expansion-panels{
    direction: rtl;
}
.v-col-md-12:not(.SimpleContent){
    direction: rtl;
}

/*p{*/
/*    text-align: justify;*/
/*}*/

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: unset;
    right: 0;
    background-color: rgba(7, 50, 74, 0.83);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    min-width: 200px;
    width: max-content;
    padding: 0.25rem 0;
    list-style: unset;
}
html {
    font-size: calc(100%);
}

ul.custom-list li {
    position: relative;
    padding-left: 0;
    padding-right: 30px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #2c3e50;
    line-height: 1.6;
    transition: all 0.3s ease;
}
ul.custom-list li::before {
    content: ""; /* میتونی تغییرش بدی به ➤ یا ● */
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;

    color: #0077b6; /* رنگ آبی نفتی */
    transition: transform 0.3s ease, color 0.3s ease;
}
/* آیکون قبل از هر li */
ul.custom-list li::after {
    content: "✔"; /* میتونی تغییرش بدی به ➤ یا ● */
    position: absolute;
    right: 0;
    top: 0;
    font-size: 18px;
    color: #0077b6; /* رنگ آبی نفتی */
    transition: transform 0.3s ease, color 0.3s ease;
}
ul.custom-list {
     margin-right: 60px;
     margin-left: unset;
 }

li{padding-left:unset !important;margin-left: unset !important;padding-right:10px;margin-right: 34px;position:relative}
li::marker{
    color: #959595;
}